
/*Recherche*/
a{
    color: darkcyan;
    font-size: 1.7rem;
    text-decoration: none;
}
a:hover{
    color: #448385;
}
.autocompletion{
    background-color:  #448385;
    margin-top: 5%;
    color: white;
    cursor: pointer;
    text-align: center;
}
.result{
    font-size: 1.4rem;
    text-align: center;
}
.autocompletion a{
    color: white;
}
#flfl{
    display: flex;
    flex-direction: column;
    height: 2.2vh;
    justify-content: space-between;
    width: 15vw
}