#------
#Configuration
#------
#index.php?page=register


#Liens symboliques pour le serveur

#Options +FollowSymlinks

#Activaiton du module de réécriture d'url
RewriteEngine on

#------
#Règles de réécriture d'url
#------

#  ^ : Début
#  $ : Fin
#   [L]  arrete si l'url définit au shema selectioné par l'utilisateur

RewriteRule ^register$ index.php?page=register [L]

RewriteRule ^accueil$ index.php?page=accueil [L]

RewriteRule ^login$ index.php?page=login [L]

RewriteRule ^disconnect index.php?page=disconnect [L]

RewriteRule ^profil index.php?page=profil [L]

RewriteRule ^ajout index.php?page=ajout [L]

RewriteRule ^admin index.php?page=admin [L]

RewriteRule ^gerant index.php?page=gerant [L]

RewriteRule ^produit index.php?page=produit [L]

RewriteRule ^panier index.php?page=panier [L]

RewriteRule ^paiment index.php?page=paiment [L]

RewriteRule ^voir index.php?page=voir [L]



RewriteRule ^historique_commende index.php?page=historique_commende [L]

RewriteRule ^historique_vendeur index.php?page=historique_vendeur [L]

RewriteRule ^contact/?$  index.php?page=contact&id_produit1  [L,QSA]



#RewriteRule ^contact/?$ index.php?page=contact&id_produit=1 [L,QSA]

#RewriteRule ^contact/?$ index.php?page=contact&id_vendeur=1 [L,QSA]

#RewriteRule ^contact/?$ index.php?page=contact&id_client=1 [L,QSA]
